
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fff;
  color: #333;
}

.page_header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid black;

}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
}

.menu li a:hover {
  color: black;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

#search_input {
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}

.login {
  margin-top: rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login img {
  width: 495px;
  height: 445px;
}
.form-side {
  flex: 1;
  padding: 50px;
}

.form-side h2 {
  margin-bottom: 5px;
  font-size: 28px;
}

.form-side p {
  margin-bottom: 20px;
  color: #666;
}

.form-side form {
  display: flex;
  flex-direction: column;
}

.form-side input {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px ;
  border-bottom:2px solid black ;
}

.form-side button {
  background: #7a4f2c;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 80px;
}

.register-link {
  margin-top: 10px;
  color: #7a4f2c;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 12px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subscribe-btn {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 5px 10px;
}
.subscribe-btn input {
  all: unset;
}
.subscribe-btn .btn {
  background-color: unset;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.download_images {
  display: flex;
  gap: 10px;
}
